.link-alani a {
    color: #0066ff;
    text-decoration: underline;
    font-weight: 600;
}

.ikonlar img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    padding: 6px;
    background: #e9e9e9;
    border-radius: 8px;
    transition: 0.2s;
}

.ikonlar img:hover {
    background: #d4d4d4;
}